<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Some\Module\Api\TestClassInterface" type="Some\Module\Model\TestClass" />
    <type name="Some\Module\Model\TestClass">
        <plugin name="somePlugin" type="Some\Module\Plugin\TestClassPlugin" />
    </type>
</config>
